@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-serif text-base text-gray-600;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-sans text-primary-500;
  }
  section {
    @apply my-20 mx-auto max-w-7xl py-9;
  }
}

/* section {
  margin: 2rem 0;
  padding: 2rem;
  background-color: #fff;
  border: 1px solid #e2e8f0;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
} */

.dropdown-menu{
  position: absolute;
  min-width: 70px;
  background-color: red;
  display: none;
  z-index: 1000;
}

.menu-item:hover .dropdown-menu {
  display: block;
}



