<!-- <div class="text-left">
    <div class="my-2 d-flex align-items-center justify-content-start">
        <div class="col-1 h-1 rounded bg-D41B20">&nbsp;</div>
        <h4 class="text-uppercase text-2xl font-bold">Our Services</h4>
    </div>
</div> -->
<div class="text-left">
  <div style="display: flex; justify-content: center">
    <div class="my-2">
      <div class="h-1 w-10 rounded bg-D41B20 pull-left">&nbsp;</div>
      <h4 class="text-uppercase text-2xl font-bold pull-left">Our Services</h4>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-4">
    <div class="text-left">
      <em class="fa fa-plane fa-3x"></em>
      <h3>Charter Flights</h3>
      <p>
        We provide our clients with the option of chartering our aircrafts for
        passenger and/or cargo services.
      </p>
      <a class="btn btn-primary" href="#charter-details" data-toggle="collapse"
        >Learn More</a
      >
      <div id="charter-details" class="collapse">
        <p>
          We offer a range of aircrafts for charter services. Our experienced
          pilots ensure a safe and comfortable journey for you and your cargo.
          Contact us to book your charter flight today!
        </p>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="text-left">
      <em class="fa fa-medkit fa-3x"></em>
      <h3>Humanitarian and Relief Services</h3>
      <p>
        Dragonfly offers humanitarian services to save the lives of millions of
        people caught up in humanitarian disasters. We ensure quick and safe
        access to affected areas. We also provide air services to transport
        humanitarian personnel and supplies, as well as to perform medical and
        security evacuations as required.
      </p>
      <a
        class="btn btn-primary"
        href="#humanitarian-details"
        data-toggle="collapse"
        >Learn More</a
      >
      <div id="humanitarian-details" class="collapse">
        <p>
          Our humanitarian services are provided in partnership with leading aid
          agencies. We have the experience and resources to respond quickly to
          any crisis, and to deliver aid to those in need. Contact us to find
          out more about our humanitarian and relief services.
        </p>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="text-left">
      <em class="fa fa-clock-o fa-3x"></em>
      <h3>Scheduled Flights</h3>
      <p>
        Coming soon we shall offer scheduled flights to Mogadishu, Juba and
        Djibouti.
      </p>
      <a
        class="btn btn-primary"
        href="#scheduled-details"
        data-toggle="collapse"
        >Learn More</a
      >
      <div id="scheduled-details" class="collapse">
        <p>
          Our scheduled flights will offer regular services to key destinations
          in East Africa. We will provide reliable and affordable air transport
          to our customers, with a focus on safety and comfort. Contact us to be
          notified when our scheduled flights are available.
        </p>
      </div>
    </div>
  </div>
</div>

<!-- ############################################ -->
<div class="destinations">
  <div class="text-left">
    <div style="display: flex; justify-content: center">
      <div class="my-2">
        <div class="h-1 w-10 rounded bg-D41B20 pull-left">&nbsp;</div>
        <h4 class="text-uppercase text-2xl font-bold pull-left">
          Our Destinations
        </h4>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <img class="card-img-top img-fluid" src="Juba" alt="Juba" />
          <div class="card-body">
            <h4 class="card-title">Juba</h4>
            <p class="card-text">
              Fly with us to Juba, where adventure awaits. Book your trip now
              and explore the hidden gems of South Sudan.
            </p>
            <a href="#" class="btn btn-primary">Book Now</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img class="card-img-top img-fluid" src="Mogadishu" alt="Mogadishu" />
          <div class="card-body">
            <h4 class="card-title">Mogadishu</h4>
            <p class="card-text">
              Nairobi, the vibrant hub of East Africa. Discover a city like no
              other and create memories that last a lifetime.
            </p>
            <a href="#" class="btn btn-primary">Book Now</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img class="card-img-top img-fluid" src="Nairobi" alt="Nairobi" />
          <div class="card-body">
            <h4 class="card-title">Nairobi</h4>
            <p class="card-text">
              Mogadishu, where the ocean meets the desert. Experience the magic
              of Somalia and its rich culture. Book your flight today.
            </p>
            <a href="#" class="btn btn-primary">Book Now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- ############################################ -->
<div class="destinations section">
  <div class="text-left">
    <div style="display: flex; justify-content: center">
      <div class="my-2">
        <div class="h-1 w-10 rounded bg-D41B20 pull-left">&nbsp;</div>
        <h4 class="text-uppercase text-2xl font-bold pull-left">
          Our Destinations
        </h4>
        <div class="clearfix">&nbsp;</div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="thumbnail">
          <img
            src="https://storage.aerocrs.com/537/system/juba.jpg"
            alt="Juba"
            style="width: 100%; height: 200px"
          />
          <div class="caption">
            <h4 class="card-title">Juba</h4>
            <p class="card-text">
              Fly with us to Juba, where adventure awaits. Book your trip now
              and explore the hidden gems of South Sudan.
            </p>
            <a class="btn btn-primary" href="#">Book Now</a>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="thumbnail">
          <img
            src="https://storage.aerocrs.com/537/system/nairobi.jpg"
            alt="Nairobi"
            style="width: 100%; height: 200px"
          />
          <div class="caption">
            <h4 class="card-title">Nairobi</h4>
            <p class="card-text">
              Nairobi, the vibrant hub of East Africa. Discover a city like no
              other and create memories that last a lifetime.
            </p>
            <a class="btn btn-primary" href="#">Book Now</a>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="thumbnail">
          <img
            src="https://storage.aerocrs.com/537/system/mogadishu.jpg"
            alt="Mogadishu"
            style="width: 100%; height: 200px"
          />
          <div class="caption">
            <h4 class="card-title">Mogadishu</h4>
            <p class="card-text">
              Mogadishu, where the ocean meets the desert. Experience the magic
              of Somalia and its rich culture. Book your flight today.
            </p>
            <a class="btn btn-primary" href="#">Book Now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="hero-section mt-50"
  style="
    background-image: url('https://storage.aerocrs.com/537/system/hero1.jpg');
    height: 80vh;
    width: 100vw;
  "
>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div
          class="d-flex flex-column justify-content-center align-items-start"
          style="height: 100%"
        >
          <h1>&nbsp;</h1>
          <h1>&nbsp;</h1>
          <h1>&nbsp;</h1>
          <h1>&nbsp;</h1>
          <h1>&nbsp;</h1>
          <h1>&nbsp;</h1>
          <h1>&nbsp;</h1>
          <h1>&nbsp;</h1>
          <h1>&nbsp;</h1>
          <h1>&nbsp;</h1>
          <h1>{{ long_title }}</h1>
          <p class="hero-details">{{ hero_phrase }}</p>
          <div class="d-flex justify-content-start align-items-center">
            <a class="btn btn-primary btn-lg" href="#">Book Now</a>
            <a class="btn btn-link" href="/{{ page_link }}">Learn More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="hero-section mt-5"
  style="
    background-image: url('https://storage.aerocrs.com/537/system/hero1.jpg');
    height: 80vh;
    width: 100vw;
  "
>
  <div>
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <h1>{{ long_title }}</h1>
        <p class="hero-details">{{ hero_phrase }}</p>
        <a class="btn btn-primary btn-lg" href="#">Book Now</a>
        <a class="btn btn-link" href="/{{ page_link }}">Learn More</a>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-8">
      <img
        src="https://storage.aerocrs.com/537/system/hero1.jpg"
        alt="Charter Flights"
        class="img-responsive"
        style="width: 100%"
      />
    </div>
    <div class="row">
      <div class="col-md-8">
        <h1>Experience the Convenience and Flexibility of Charter Flights</h1>
        <p>
          We provide our clients with the option of chartering our aircrafts for
          passenger and/or cargo services. Experience the ultimate convenience
          and flexibility with our charter flights...
        </p>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h3>Contact Us</h3>
            <p>
              For inquiries and bookings, feel free to contact our dedicated
              team:
            </p>
            <p>Email: info@yourcompany.com<br />Phone: +1 (123) 456-7890</p>
          </div>
        </div>
        <div class="thumbnail">
          <img
            src="https://storage.aerocrs.com/537/system/hero1.jpg"
            alt="Thumbnail"
          />
          <div class="caption">
            <h4>Explore our Fleet</h4>
            <p>
              Discover the variety of aircraft available for your charter needs.
              Click below to learn more.
            </p>
            <a class="btn btn-primary" href="/fleet.html">View Fleet</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
